.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/teacher/
/team_AK/
/team_beauty_will_save_the_world/
/team_dog/
/team_eStore/
/team_healthy_tooth/
/team_no_name_no_problem/
/team_retarded/
/gradle/
/team_static_startup/
/team_temptation/
/team_ticket_service/
/team_triple_force/
/team_VK/
/team_VSB/
/team_vv/
/.gitignore
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle
