<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Change Product Name</title>
</head>
<body>

<h3>Change Product Name</h3>

<!--Request Table-->
<table>
    <tr>
        <td>Product ID:</td>
        <td>Product New Name:</td>
    </tr>

    <tr>
        <form action="/product/changeProductName" th:object="${request}" method="post">
            <td><input type="number" min="1" th:field="${request.productId}"/></td>
            <td><input type="text" th:field="${request.productNewName}"/></td>
            <td>
                <input type="submit" value="Change product Name"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>

</table>

<div th:switch="${products}">
    <h4 th:case="true">Product Name was successfully changed</h4>
    <h4 th:case="false">Product Name was not changed</h4>
</div>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>

</body>

</html>