<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Delete Product by Name</title>
</head>
<body>

<h3>Delete Product by Name</h3>

<!--Request Table-->
<table>
    <tr>
        <td>Product Name:</td>
    </tr>

    <tr>
        <form action="/product/deleteProductByName" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.productName}"/></td>
            <td>
                <input type="submit" value="Delete product by Name"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>

</table>

<div th:switch="${productRemoved}">
    <h4 th:case="true">Product(s) was successfully removed</h4>
    <h4 th:case="false">Product(s) was not removed</h4>
</div>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>

</body>

</html>