<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Find Product by Id</title>
</head>
<body>

<h3>Find Product by Id</h3>

<table>
    <tr>
        <td>ID:</td>
    </tr>

    <tr>
        <form action="/product/findProductById" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.productId}"/></td>
            <td>
                <input type="submit" value="Find Product by Id"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>

</table>

<br>

<!--<table>
    <tr>
        <td>ID:</td>
        <td>Name:</td>
        <td>Description:</td>
        <td>Price:</td>
    </tr>

    <td th:if="${products != null}">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>

        </tr>
    </td>

</table>-->

</td>


<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>

</body>

</html>