<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Show All Products</title>
</head>
<body>

<h3>Show all products</h3>

<table>
    <tr>
        <td>ID:</td>
        <td>Name:</td>
        <td>Description:</td>
        <td>Price:</td>
    </tr>

    <td th:if="${products != null}">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>

        </tr>
    </td>

</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>