<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Internet Store</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 5px;
        text-align: center;
    }
</style>

<body>

<table style="width:70%; align-content: center">
    <tr>
        <th colspan="5"><h3>Program menu</h3></th>
    </tr>
    <tr>
        <th>Product</th>
        <th>Customer</th>
        <th>Shopping cart</th>
        <th>Shopping cart item</th>
        <th>Order</th>
    </tr>
    <tr>
        <td><a href="/product/addProduct">Add product</a></td>
        <td><a href="/customer/addCustomer">Add customer</a></td>
        <td><a href="/shopping_cart/addShoppingCart">Add shopping cart</a></td>
        <td><a href="/shopping_cart_item/addShoppingCartItem">Add shopping cart item</a></td>
        <td><a href="/order/addOrder">Add order</a></td>
    </tr>
    <tr>
        <td><a href="/product/deleteProduct">Delete product</a></td>
        <td><a href="/customer/deleteCustomer">Delete customer</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/product/showAllProducts">Show all products</a></td>
        <td><a href="/customer/showAllCustomers">Show all customers</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><a href="/searchProductById">Search product by id</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a href="/exitProgram">Exit program</a></td>
    </tr>

</table>

</body>

</html>