<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Internet Store</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addProduct">Add product</a> <br>
<a href="/deleteProduct">Delete product</a> <br>
<a href="/showAllProducts">Show all products</a> <br>
<a href="/searchProductById">Search product by id</a> <br>

</body>

</html>