<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <title>Target list</title>
</head>

<body>

<h3>Add user to list</h3>

<table>
    <tr>
        <td>User first name:</td>
        <td>User last name:</td>
    </tr>

    <tr>
        <form action="/admin_menu/user/addUserToList" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.firstName}"/></td>
            <td><input type="text" th:field="${request.lastName}"/></td>
            <td>
                <input type="submit" value="OK"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</td>

<form action="/admin_menu/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>