<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet store demo project">
    <meta name="author" content="NoNameNoProblem">
    <title>Internet store</title>
</head>

<body>

<h3>Add product</h3>

<table>
    <tr>
        <td>Title:</td>
        <td>Description:</td>
        <td>Price:</td>
    </tr>

    <tr>
        <form action="/addProduct" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.product.title}"/></td>
            <td><input type="text" th:field="${request.product.description}"/></td>
            <td><input type="text" th:field="${request.product.price}"/></td>
            <td>
                <input type="submit" value="Add Product"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>
</table>


<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" /> </br>
    </tr>
</td>

</body>

</html>