<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet store demo project">
    <meta name="author" content="NoNameNoProblem">
    <title>Internet store</title>
</head>

<body>

<h3>Get list of all products</h3>

<table>
    <tr>
        <td>Title:</td>
        <td>Description:</td>
        <td>Price:</td>
    </tr>

    <td th:if="${books != null}">
        <tr th:each="book : ${books}">
            <td th:text="${book.title}" />
            <td th:text="${book.author}" />
        </tr>
    </td>

</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>