<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet store demo project">
    <meta name="author" content="NoNameNoProblem">
    <title>Internet store</title>
</head>

<body>

<h3>Order list</h3>

<table>
    <tr>
        <td>Id:</td>
        <td>Customer:</td>
        <td>Sum:</td>
    </tr>

    <td th:if="${orders != null}">
        <tr th:each="shoppingCart : ${orders}">
            <td th:text="${shoppingCart.id}"/>
            <td th:text="${shoppingCart.customer}" />
            <td th:text="${shoppingCart.sum}" />
        </tr>
    </td>

</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>