<!DOCTYPE html>
<html>

<head>

    <html lang="en">
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
            <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">

                </div>
            </div>
        </div>
    </header>
    <style>
    P {text-indent: 20px;
    }
    .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>
<a href="https://www.facebook.com/JavaGuruLV/" class="fa fa-facebook"></a>
<a href="https://www.instagram.com/javagurulv/" class="fa fa-instagram"></a>
<a href="https://www.youtube.com/channel/UCvgTd6nR3HMRD4skjU3ejcg" class="fa fa-youtube"></a>
<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About Us</a>
        <a href="adminControlPanel.html" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Admin Control Panel</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact Us</a>


    </div>

<div class="page">


    <P> </P><h1 class="display-3">No Name No Problem Internet Store</h1>

    <P>
        <a href="/addCustomer"><button>Register as new Customer</button></a> <br>
    <P>
        <a href="/deleteCustomer"><button>Delete account by ID</button></a> <br>
    <P>
        <a href="/getAllProductList"><button>Product List</button></a> <br>
    <P>
        <a href="/buyProduct"><button>Buy product</button></a> <br>
    <P>
        <a href="/findCustomerById"><button>Search customer by ID</button></a> <br>
    <P>
        <a href="/searchCustomer"><button>Search customer</button></a> <br>
    <P>

</div>
</div>

<div class="content"></div>
</body>

</html>