<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet store demo project">
    <meta name="author" content="NoNameNoProblemTeam">
    <title>Internet store</title>
</head>

<body>

<h3>Program menu</h3>

<h4>Administrator menu</h4>

<a href="/addProduct">Add product</a> <br>
<a href="/findProductById">Search product by ID</a> <br>
<a href="/searchProduct">Search product by other criteria</a> <br>
<a href="/changeProduct">Change product</a> <br>
<a href="/deleteProductById">Delete product by ID</a> <br>
<a href="/deleteProductByOtherCriteria">Delete product by other criteria</a> <br>
<a href="/getAllProductList">Get list of all products</a> <br>
<a href="/getOrders">Get order list</a>

<h5>Customer menu</h5>

<a href="/addCustomer">Sign in</a> <br>
<a href="/deleteCustomer">Delete account by ID</a> <br>
<a href="/searchProduct">See product list</a> <br>
<a href="/buyProduct">Buy product</a> <br>
<a href="/findCustomerById">Search customer by ID</a> <br>
<a href="/searchCustomer">Search customer</a> <br>

<a href="/exitFromApplication">Exit</a>

</body>

</html>