<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <title>Target list</title>
</head>

<body>

<h3>Add record to list</h3>

    <tr>
        <td>Select Target</td>
        <td>Select User</td>
    </tr>

    <tr>
        <form action="/user_menu/board/addRecordToList" th:object="${request}" method="post">
            <SELECT th:field="${request.targetId}">
                <option th:each="targets : ${targets}"
                        th:value="${targets.id}"
                        th:text="${targets.name}">
                </option>
            </SELECT>

            <SELECT th:field="${request.userId}">
                <option th:each="users : ${users}"
                        th:value="${users.id}"
                        th:text="${users.firstName + ' ' + users.lastName}">
                </option>
            </SELECT>
            <td>
                <input type="submit" value="OK"/>
            </td>
        </form>
    </tr>


<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</td>

<form action="/user_menu/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>