<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Add Customer</title>
</head>

<body>

<h3>Add customer</h3>

<table>
    <tr>
        <td>First Name:</td>
        <td>Second Name:</td>
        <td>Phone:</td>
        <td>e-mail:</td>
        <td>Address:</td>
    </tr>

    <tr>
        <form action="/customer/addCustomer" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.customerFirstName}"/></td>
            <td><input type="text" th:field="${request.customerSecondName}"/></td>
            <td><input type="text" th:field="${request.customerPhone}"/></td>
            <td><input type="text" th:field="${request.customerEMail}"/></td>
            <td><input type="text" th:field="${request.customerAddress}"/></td>
            <td>
                <input type="submit" value="Add Customer"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>


    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>
</table>

</body>

</html>