<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Product Library</title>
</head>

<body>

<h3>Delete customer</h3>

<table>
    <tr>
        <td>Customer ID:</td>
    </tr>

    <tr>
        <form action="/customer/deleteCustomer" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.customerId}"/></td>
            <td>
                <input type="submit" value="Delete product"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>


    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>
</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>