<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
    }
    th, td {
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
    <title>Target list</title>
</head>

<body>

<h3>Set record complete date</h3>

<table>
    <tr>
        <td><b>Record id</b></td>
        <td><b>Target name</b></td>
        <td><b>Target description</b></td>
        <td><b>Target deadline</b></td>
        <td><b>User first name</b></td>
        <td><b>User last name</b></td>
        <td><b>Target added date</b></td>
        <td><b>Target date of completion</b></td>
    </tr>

<!--    <td th:if="${records != null}">-->
        <tr th:each="records : ${records}">
            <td th:text="${records.recordId}" />
            <td th:text="${records.target.name}" />
            <td th:text="${records.target.description}" />
            <td th:text="${records.target.deadline}" />
            <td th:text="${records.user.firstName}" />
            <td th:text="${records.user.lastName}" />
            <td th:text="${records.dateAdded}" />
            <td th:text="${records.dateComplete}" />
        </tr>
<!--    </td>-->

</table>


    <tr>
        <td><b> Enter Record id:</b></td>
    </tr>

    <tr>
        <form action="/board/setRecordCompleteDate" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.recordIdToSetCompleteDate}"/></td>
            <td>
                <input type="submit" value="OK"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>


<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</td>


<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>