<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Ticket service demo project">
    <meta name="author" content="S. Aleksejevs">
    <title>Ticket service || Show all users</title>
</head>

<body>

<h3>Show all users</h3>

<table>

    <tr>
        <td th:text="${users}"></td>
    </tr>
    <tr>
        <td>
            <a href="/admin_mode">Back to menu</a>
        </td>

    </tr>

</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}"/>
        <td th:text="${error.message}"/>
    </tr>
</td>

</body>

</html>