<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <title>Target list</title>
</head>

<body>

<h3>Target menu</h3>

<a href="/target/showAllTargets">Show targets list</a> <br>
<a href="/target/addTargetToList">Add target to list</a> <br>
<a href="/target/deleteTargetFromList">Delete target from list</a> <br>
<a href="/target/changeTargetName">Change target name</a> <br>
<a href="/target/changeTargetDescription">Change target description</a> <br>
<a href="/target/changeTargetDeadline">Change target deadline</a> <br>
<a href="/target/searchTargetByName">Search target by name</a> <br>
<a href="/target/searchTargetByDescription">Search target by description</a> <br>

<h3>User menu</h3>

<a href="/user/showAllUsers">Show users list</a> <br>
<a href="/user/addUserToList">Add user to list</a> <br>
<a href="/user/deleteUserFromList">Delete user from list</a> <br>
<a href="/user/changeUserFirstName">Change user first name</a> <br>
<a href="/user/changeUserLastName">Change user last name</a> <br>
<a href="/user/searchUserByFirstName">Search user by first name</a> <br>
<a href="/user/searchUserByLastName">Search user by last name</a> <br>

<h3>Board menu</h3>

<a href="/board/showAllRecords">Show records list</a> <br>
<a href="/board/showUnfinishedRecords">Show unfinished records</a> <br>
<a href="/board/addRecordToList">Add record to list</a> <br>
<a href="/board/deleteRecordFromList">Delete record from list</a> <br>
<a href="/board/setRecordCompleteDate">Set record complete date</a> <br>



</body>

</html>

