<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <title>Target list</title>
</head>

<body>

<h3>Target menu</h3>

<a href="/user_menu/target/showAllTargets">Show targets list</a> <br>
<a href="/user_menu/target/addTargetToList">Add target to list</a> <br>
<a href="/user_menu/target/searchTargetByName">Search target by name</a> <br>
<a href="/user_menu/target/searchTargetByDescription">Search target by description</a> <br>

<h3>User menu</h3>

<a href="/user_menu/user/showAllUsers">Show users list</a> <br>
<a href="/user_menu/user/searchUserByFirstName">Search user by first name</a> <br>
<a href="/user_menu/user/searchUserByLastName">Search user by last name</a> <br>

<h3>Board menu</h3>

<a href="/user_menu/board/showAllRecords">Show records list</a> <br>
<a href="/user_menu/board/showUnfinishedRecords">Show unfinished records</a> <br>
<a href="/user_menu/board/addRecordToList">Add record to list</a> <br>
<a href="/user_menu/board/setRecordCompleteDate">Set record complete date</a> <br>

<h3></h3>

<form action="/logout">
    <input type="submit" value="Log out" name="Submit" />
</form>

</body>

</html>

