<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Ticket Service demo project">
    <meta name="author" content="S. Aleksejevs">
    <title>Ticket Service || Admin mode</title>
</head>

<body>

<h3>Admin mode</h3>

<a href="/admin_mode/manage/user/menu">Manage users</a> <br>
<a href="/admin_mode/manage/ticket/menu">Manage tickets</a> <br>
<a href="/admin_mode/showAllUsers">Show all users</a> <br>
<a href="/admin_mode/showAllFlights">Show all flights</a> <br>
<a href="/logout">Log out</a> <br>


</body>

</html>