<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Ticket Service">
    <meta name="author" content="Aleksejevs">
    <title>Ticket Service</title>
</head>

<body>
<span class="message">Welcome ${user.username}</span>
<h3>User mode</h3>

<a href="/login">   Add flight   </a> <br>
<a href="/user_mode/showflights">+ Show all flights   </a> <br>
<a href="/register">Update flight   </a> <br>
<a href="/user_mode/deleteFlight">Delete flight </a> <br>
<a href="/logout">Log out</a> <br>


</body>

</html>