<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Ticket Service">
    <meta name="author" content="Aleksejevs">
    <title>Ticket Service</title>
</head>

<body>
<h3>User mode</h3>

<a href="/user_mode/addFlight">Add flight</a> <br>
<a href="/user_mode/showFlights">Show all flights</a> <br>
<a href="/user_mode/editTicket">Edit ticket</a> <br>
<a href="/user_mode/deleteFlight">Delete flight </a> <br>
<a href="/logout">Log out</a> <br>


</body>

</html>