<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dental Clinic demo project">
        <meta name="author" content="Valeria">
        <title>Dental clinic Healthy tooth</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <div class="title">
            <h3>Add visit</h3>
        </div>

        <div class="menuFull">

            <table>
                <tr>
                    <td>Patient's id:</td>
                    <td>Manipulation's id:</td>
                    <td>Doctor's id:</td>
                    <td>Tooth number:</td>
                    <td>Tooth status:</td>
                    <td>Comments:</td>
                </tr>

                <tr>
                    <form action="/addVisit" th:object="${request}" method="post">
                        <td><input type="number" min="1" th:field="${request.patientId}"/></td>
                        <td><input type="number" min="1" th:field="${request.manipulationId}"/></td>
                        <td><input type="number" min="1" th:field="${request.doctorId}"/></td>
                        <td><input type="number" min="1" th:field="${request.toothNumber}"/></td>
                        <td><input type="text" th:field="${request.toothStatus}"/></td>
                        <td><input type="text" th:field="${request.comment}"/></td>

                        <td>
                            <input type="submit" value="Add Visit"/>
                            <input type="reset" value="Clear"/>
                        </td>
                    </form>
                </tr>
            </table>

            <td th:if="${errors != null}">
                <tr th:each="error : ${errors}">
                    <td th:text="${error.field}" />
                    <td th:text="${error.message}" /> </br>
                </tr>
            </td>
        </div>

        <div class="toothStatuses">
            <h4>Tooth statuses:</h4>

            <p>KARIES</p>
            <p>PLOMBA</p>
            <p>SAKNE</p>
            <p>KRONITIS</p>
            <p>KLAMERS</p>
            <p>NAV_ZOBA</p>
            <p>NONEMAMA_PROTEZE</p>
            <p>KRONITIS_AR_FAS</p>
            <p>PLAST_KRONITIS</p>
            <p>TILTINI</p>
            <p>HEALTHY</p>
        </div>

    </body>

</html>
