<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Dental Clinic demo project">
    <meta name="author" content="Valeria">
    <title>Dental clinic Healthy tooth</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <div class="title">
        <h3>Fill doctor's work graphic</h3>
    </div>

    <div class="menuFull">
        </br>
        <table>
            <tr>
                <td>Id:</td>
                <td>Day:</td>
                <td>Time from:</td>
                <td>Time to:</td>
            </tr>

            <tr>
                <form action="/fillDoctorsWorkGraphic" th:object="${request}" method="post">
                    <td><input type="number" min="1" th:field="${request.id}"/></td>
                    <td><input type="number" min="1" max = "7" th:field="${request.day}"/></td>
                    <td><input type="time" th:field="${request.start}"/></td>
                    <td><input type="time" th:field="${request.end}"/></td>
                    <td>
                        <input type="submit" value="Update work graphic"/>
                        <input type="reset" value="Clear"/>
                    </td>
                </form>
            </tr>
        </table>
    </div>

</body>

</html>