<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dental Clinic demo project">
        <meta name="author" content="Valeria">
        <title>Dental clinic Healthy tooth</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>

        <div class="title">
            <h3>Get doctor's list</h3>
        </div>

        <div class="menuLong">
            </br>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>Surname:</td>
                    <td>Phone:</td>
                </tr>

                <td th:if="${list != null}">
                    <tr th:each="doctorAndGraphic : ${list}">
                        <td th:text="${doctorAndGraphic.doctor.name}" />
                        <td th:text="${doctorAndGraphic.doctor.surname}" />
                        <td th:text="${doctorAndGraphic.doctor.phone}" />
                    </tr>
                </td>

            </table>

            <form action="/" method="get">
                <input type="submit" value="Go to main page" name="Submit" />
            </form>
        </div>

    </body>

</html>