<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dental Clinic demo project">
        <meta name="author" content="Valeria">
        <title>Dental clinic Healthy tooth</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>

        <div class="title">
            <h3>Get planned visits list</h3>
        </div>

        <div class="menuLong">
            <table>
                <tr>
                    <td>Name:</td>
                    <td>Surname:</td>
                    <td>Phone:</td>
                    <td>PersonalCode:</td>
                    <td>Visit time:</td>
                    <td>Doctor: name:</td>
                    <td>Surname:</td>
                </tr>

                <td th:if="${list != null}">
                    <tr th:each="info : ${list}">
                        <td th:text="${info.personalData.name}" />
                        <td th:text="${info.personalData.surname}" />
                        <td th:text="${info.personalData.phone}" />
                        <td th:text="${info.personalData.personalCode}" />
                        <td th:text="${info.visitTime}" />
                        <td th:text="${info.doctor.name}" />
                        <td th:text="${info.doctor.surname}" />
                    </tr>
                </td>

            </table>

            <form action="/" method="get">
                <input type="submit" value="Go to main page" name="Submit" />
            </form>
        </div>

    </body>

</html>