<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Dental Clinic demo project">
    <meta name="author" content="Valeria">
    <title>Dental clinic Healthy tooth</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <div class="title">
        <h3>Get specific patient history</h3>
    </div>

    <div class="menuLong">
            <table>
                <tr>
                    <td>Id:</td>
                </tr>

                <tr>
                    <form action="/getSpecificPatientHistory" th:object="${request}" method="post">
                        <td><input type="number" min = "1" th:field="${request.id}"/></td>
                        <td>
                            <input type="submit" value="Get specific patient's history"/>
                            <input type="reset" value="Clear"/>
                        </td>
                    </form>
                </tr>
            </table>

            <td th:if="${errors != null}">
                <tr th:each="error : ${errors}">
                    <td th:text="${error.field}" />
                    <td th:text="${error.message}" /> </br>
                </tr>
            </td>

            <td th:if="${card != null}">
                <h4>Personal data</h4>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>Surname:</td>
                        <td>Phone:</td>
                        <td>PersonalCode:</td>
                    </tr>
                    <tr>
                        <td th:text="${card.personalData.name}" />
                        <td th:text="${card.personalData.surname}" />
                        <td th:text="${card.personalData.phone}" />
                        <td th:text="${card.personalData.personalCode}" />
                    </tr>
                </table>
            </td>

        <td th:if="${card != null}">
            </br>
            <h4>Jowl</h4>
            </br>
            <table>
                <tr>
                    <td>d18:</td>
                    <td>d17:</td>
                    <td>d16:</td>
                    <td>d15:</td>
                    <td>d14:</td>
                    <td>d13:</td>
                    <td>d12:</td>
                    <td>d11:</td>
                    <td>d21:</td>
                    <td>d22:</td>
                    <td>d23:</td>
                    <td>d24:</td>
                    <td>d25:</td>
                </tr>
                <tr>
                    <td width = 180px th:text="${card.jowlEntity.d18}"/>
                    <td width = 180px th:text="${card.jowlEntity.d17}" />
                    <td width = 180px th:text="${card.jowlEntity.d16}" />
                    <td width = 180px th:text="${card.jowlEntity.d15}" />
                    <td width = 180px th:text="${card.jowlEntity.d14}" />
                    <td width = 180px th:text="${card.jowlEntity.d13}" />
                    <td width = 180px th:text="${card.jowlEntity.d12}" />
                    <td width = 180px th:text="${card.jowlEntity.d11}" />
                    <td width = 180px th:text="${card.jowlEntity.d21}" />
                    <td width = 180px th:text="${card.jowlEntity.d22}" />
                    <td width = 180px th:text="${card.jowlEntity.d23}" />
                    <td width = 180px th:text="${card.jowlEntity.d24}" />
                    <td width = 180px th:text="${card.jowlEntity.d25}" />
                </tr>
            </table>

            </br>

            <table>
                <tr>
                    <td>d26:</td>
                    <td>d27:</td>
                    <td>d28:</td>
                    <td>d55:</td>
                    <td>d54:</td>
                    <td>d53:</td>
                    <td>d52:</td>
                    <td>d51:</td>
                    <td>d61:</td>
                    <td>d62:</td>
                    <td>d63:</td>
                    <td>d64:</td>
                </tr>
                <tr>
                    <td width = 180px th:text="${card.jowlEntity.d26}" />
                    <td width = 180px th:text="${card.jowlEntity.d27}" />
                    <td width = 180px th:text="${card.jowlEntity.d28}" />
                    <td width = 180px th:text="${card.jowlEntity.d55}" />
                    <td width = 180px th:text="${card.jowlEntity.d54}" />
                    <td width = 180px th:text="${card.jowlEntity.d53}" />
                    <td width = 180px th:text="${card.jowlEntity.d52}" />
                    <td width = 180px th:text="${card.jowlEntity.d51}" />
                    <td width = 180px th:text="${card.jowlEntity.d61}" />
                    <td width = 180px th:text="${card.jowlEntity.d62}" />
                    <td width = 180px th:text="${card.jowlEntity.d63}" />
                    <td width = 180px th:text="${card.jowlEntity.d64}" />
                </tr>
            </table>

            </br>

            <table>
                <tr>
                    <td>d65:</td>
                    <td>d48:</td>
                    <td>d47:</td>
                    <td>d46:</td>
                    <td>d45:</td>
                    <td>d44:</td>
                    <td>d43:</td>
                    <td>d42:</td>
                    <td>d41:</td>
                    <td>d31:</td>
                    <td>d32:</td>
                    <td>d33:</td>
                    <td>d34:</td>
                </tr>
                <tr>
                    <td width = 180px th:text="${card.jowlEntity.d65}" />
                    <td width = 180px th:text="${card.jowlEntity.d48}" />
                    <td width = 180px th:text="${card.jowlEntity.d47}" />
                    <td width = 180px th:text="${card.jowlEntity.d46}" />
                    <td width = 180px th:text="${card.jowlEntity.d45}" />
                    <td width = 180px th:text="${card.jowlEntity.d44}" />
                    <td width = 180px th:text="${card.jowlEntity.d43}" />
                    <td width = 180px th:text="${card.jowlEntity.d42}" />
                    <td width = 180px th:text="${card.jowlEntity.d41}" />
                    <td width = 180px th:text="${card.jowlEntity.d31}" />
                    <td width = 180px th:text="${card.jowlEntity.d32}" />
                    <td width = 180px th:text="${card.jowlEntity.d33}" />
                    <td width = 180px th:text="${card.jowlEntity.d34}" />
                </tr>
            </table>

            </br>

            <table>
                <tr>
                    <td>d35:</td>
                    <td>d36:</td>
                    <td>d37:</td>
                    <td>d38:</td>
                    <td>d85:</td>
                    <td>d84:</td>
                    <td>d83:</td>
                    <td>d82:</td>
                    <td>d81:</td>
                    <td>d71:</td>
                    <td>d72:</td>
                    <td>d73:</td>
                </tr>
                <tr>
                    <td width = 180px th:text="${card.jowlEntity.d35}" />
                    <td width = 180px th:text="${card.jowlEntity.d36}" />
                    <td width = 180px th:text="${card.jowlEntity.d37}" />
                    <td width = 180px th:text="${card.jowlEntity.d38}" />
                    <td width = 180px th:text="${card.jowlEntity.d85}" />
                    <td width = 180px th:text="${card.jowlEntity.d84}" />
                    <td width = 180px th:text="${card.jowlEntity.d83}" />
                    <td width = 180px th:text="${card.jowlEntity.d82}" />
                    <td width = 180px th:text="${card.jowlEntity.d81}" />
                    <td width = 180px th:text="${card.jowlEntity.d71}" />
                    <td width = 180px th:text="${card.jowlEntity.d72}" />
                    <td width = 180px th:text="${card.jowlEntity.d73}" />
                </tr>
            </table>

            </br>
            <table>
                <tr>
                    <td>d74:</td>
                    <td>d75:</td>
                    <td>Is most:</td>
                    <td>m01s:</td>
                    <td>m01e:</td>
                    <td>m02s:</td>
                    <td>mo2e:</td>
                    <td>m03s:</td>
                    <td>m03e:</td>
                    <td>m04s:</td>
                    <td>m04e:</td>
                    <td>m05s:</td>
                    <td>m05e:</td>
                    <td>m06s:</td>
                    <td>m06e:</td>
                </tr>
                <tr>
                    <td width = 180px th:text="${card.jowlEntity.d74}" />
                    <td width = 180px th:text="${card.jowlEntity.d75}" />
                    <td width = 180px th:text="${card.jowlEntity.isMost}" />
                    <td width = 180px th:text="${card.jowlEntity.m01s}" />
                    <td width = 180px th:text="${card.jowlEntity.m01e}" />
                    <td width = 180px th:text="${card.jowlEntity.m02s}" />
                    <td width = 180px th:text="${card.jowlEntity.m02e}" />
                    <td width = 180px th:text="${card.jowlEntity.m03s}" />
                    <td width = 180px th:text="${card.jowlEntity.m03e}" />
                    <td width = 180px th:text="${card.jowlEntity.m04s}" />
                    <td width = 180px th:text="${card.jowlEntity.m04e}" />
                    <td width = 180px th:text="${card.jowlEntity.m05s}" />
                    <td width = 180px th:text="${card.jowlEntity.m05e}" />
                    <td width = 180px th:text="${card.jowlEntity.m06s}" />
                    <td width = 180px th:text="${card.jowlEntity.m06e}" />
                </tr>
            </table>
        </td>

            <td th:if="${visits != null}">
                <h4>Visits:</h4>
                <table>
                    <tr>
                        <td>Doctor name:</td>
                        <td>Doctor surname:</td>
                        <td>Manipulation:</td>
                        <td>Date:</td>
                        <td>Sum:</td>
                        <td>Tooth number:</td>
                        <td>Tooth status:</td>
                        <td>Comment:</td>
                    </tr>

                    <td th:if="${visits != null}">
                        <tr th:each="visit : ${visits}">
                            <td th:text="${visit.doctor.name}" />
                            <td th:text="${visit.doctor.surname}" />
                            <td th:text="${visit.manipulations.manipulationType}" />
                            <td th:text="${visit.date}" />
                            <td th:text="${visit.calculateSum}" />
                            <td th:text="${visit.toothNumber}" />
                            <td th:text="${visit.toothStatus}" />
                            <td th:text="${visit.comment}" />
                        </tr>
                    </td>

                </table>
            </td>


        <form action="/" method="get">
            <input type="submit" value="Go to main page" name="Submit" />
        </form>
    </div>
</body>

</html>