<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dental Clinic demo project">
        <meta name="author" content="Valeria">
        <title>Dental clinic Healthy tooth</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <div class="title">
            <h3>Program menu</h3>
        </div>

        <div class="footer">
            <div class="menuHalf">
                </br>
                <a href="/addPatient">Add patient</a> <br>
                <a href="/changePersonalData">Change patient's personal data</a> <br>
                <a href="/searchPatient">Search by surname or personal code</a> <br>
                <a href="/updatePatientJowlInfo">Update patient's jowl info</a> <br> <br>

                <a href="/getAllPatients">Print patients database</a> <br>
                <a href="/getSpecificPatientHistory">Print specific patient information</a> <br> <br>

                <a href="/getPatientCard">Print patients card</a> <br>
                <a href="/addVisit">Add visit</a> <br>
                <a href="/searchVisitByPatientId">Search visit by patient's id</a> <br>
                <a href="/searchVisitByDate">Search visit by date</a> <br> <br>
            </div>


            <div class="menuHalf">
                </br>
                <a href="/addDoctor">Add doctor</a> <br>
                <a href="/fillDoctorsWorkGraphic">Fill doctor's work graphic</a> <br>
                <a href="/deleteDoctor">Delete doctor</a> <br>
                <a href="/getDoctorList">Print doctor's database</a> <br> <br>

                <a href="/addPlannedVisit">Add planned visit</a> <br>
                <a href="/changePlannedVisitTime">Change planned visit</a> <br>
                <a href="/getPlannedVisits">Print planned visits</a> <br>
                <a href="/cancelPlannedVisit">Cancel planned visit</a> <br>
                <a href="/searchPlannedVisitsByPersonalCode">Search planned visit by personal code</a> <br>
                <a href="/searchPlannedVisitsByDate">Search planned visit by date</a> <br> <br>

                <a href="/addManipulation">Add manipulation</a> <br>
                <a href="/getManipulations">Get manipulations list</a> <br>
                <a href="/deactivateManipulation">Deactivate manipulation</a> <br> <br>

            </div>
        </div>

        <div id="content"></div>

    </body>

</html>