<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Dental Clinic demo project">
    <meta name="author" content="Valeria">
    <title>Dental clinic Healthy tooth</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>

    <div class="title">
        <h3>Search patient</h3>
    </div>

    <div class="menuLong">
        <table>
            <tr>
                <td>Input for search:</td>
                <td>Order by name/surname:</td>
                <td>Ordering direction ASC/DESC:</td>
                <td>Page number:</td>
                <td>Page size:</td>
            </tr>

            <tr>
                <form action="/searchPatient" th:object="${request}" method="post">
                    <td><input type="text" th:field="${request.inputForSearch}"/></td>
                    <td><input type="text" th:field="${request.ordering.orderBy}"/></td>
                    <td><input type="text" th:field="${request.ordering.orderDirection}"/></td>
                    <td><input type="number" min = "1" th:field="${request.paging.pageNumber}"/></td>
                    <td><input type="number" min = "1" th:field="${request.paging.pageSize}"/></td>
                    <td>
                        <input type="submit" value="Search patient"/>
                        <input type="reset" value="Clear"/>
                    </td>
                </form>
            </tr>
        </table>

        <td th:if="${errors != null}">
            <tr th:each="error : ${errors}">
                <td th:text="${error.field}" />
                <td th:text="${error.message}" /> </br>
            </tr>
        </td>

        <td th:if="${patients != null}">
            <h4>Personal data</h4>
            <table>
                <tr>
                    <td>Name:</td>
                    <td>Surname:</td>
                    <td>Phone:</td>
                    <td>PersonalCode:</td>
                </tr>
                <td th:if="${patients != null}">
                    <tr th:each="patient : ${patients}">
                        <td th:text="${patient.name}" />
                        <td th:text="${patient.surname}" />
                        <td th:text="${patient.phone}" />
                        <td th:text="${patient.personalCode}" />
                    </tr>
                </td>
            </table>
        </td>

        <form action="/" method="get">
            <input type="submit" value="Go to main page" name="Submit" />
        </form>

    </div>
</body>

</html>