<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Dental Clinic demo project">
        <meta name="author" content="Valeria">
        <title>Dental clinic Healthy tooth</title>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>

    <body>
        <div class="title">
            <h3>Search planned visit by date</h3>
        </div>

        <div class="menuLong">
            <table>
                <tr>
                    <td>Day from:</td>
                    <td>Month from:</td>
                    <td>Day to:</td>
                    <td>Month to:</td>
                </tr>

                <tr>
                    <form action="/searchPlannedVisitsByDate" th:object="${request}" method="post">
                        <td><input type="number" min="1" max="31" th:field="${request.dayFrom}"/></td>
                        <td><input type="number" min="1" max="12" th:field="${request.monthFrom}"/></td>
                        <td><input type="number" min="1" max="31" th:field="${request.dayTo}"/></td>
                        <td><input type="number" min="1" max="12" th:field="${request.monthTo}"/></td>
                        <td>
                            <input type="submit" value="Search planned visit in range"/>
                            <input type="reset" value="Clear"/>
                        </td>
                    </form>
                </tr>
            </table>

            <td th:if="${errors != null}">
                <tr th:each="error : ${errors}">
                    <td th:text="${error.field}" />
                    <td th:text="${error.message}" /> </br>
                </tr>
            </td>

            <td th:if="${visits != null}">
                <h4>Planned visits</h4>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>Surname:</td>
                        <td>Phone:</td>
                        <td>PersonalCode:</td>
                        <td>Visit time:</td>
                        <td>Doctor's name:</td>
                        <td>Doctor's surname:</td>
                    </tr>
                    <td th:if="${visits != null}">
                        <tr th:each="info : ${visits}">
                            <td th:text="${info.personalData.name}" />
                            <td th:text="${info.personalData.surname}" />
                            <td th:text="${info.personalData.phone}" />
                            <td th:text="${info.personalData.personalCode}" />
                            <td th:text="${info.visitTime}" />
                            <td th:text="${info.doctor.name}" />
                            <td th:text="${info.doctor.surname}" />
                        </tr>
                    </td>
                </table>
            </td>

            <form action="/" method="get">
                <input type="submit" value="Go to main page" name="Submit" />
            </form>
        </div>

    </body>

</html>