<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Ticket service demo project">
    <meta name="author" content="S. Aleksejevs">
    <title>Add Product</title>
</head>

<body>

<h3>Add Flight</h3>

<table>
    <tr>
        <td>User ID:</td>
        <td>Username:</td>
    </tr>
    <tr>
        <form action="/user_mode/addFlight" th:object="${user}" method="get">
            <td><input type="text" th:field="${user.id}"/></td>
            <td><input type="text" th:field="${user.username}"/></td>
        </form>
    </tr>
    <tr>
        <td>Origin country:</td>
        <td>Origin city:</td>
        <td>Destination country:</td>
        <td>Destination city:</td>
        <td>Departure date:</td>
        <td>Seat number:</td>
    </tr>

    <tr>
        <form action="/user_mode/addFlight" th:object="${ticket}" method="post">
            <td><input type="text" th:field="${ticket.originCountry}"/></td>
            <td><input type="text" th:field="${ticket.originCity}"/></td>
            <td><input type="text" th:field="${ticket.destinationCountry}"/></td>
            <td><input type="text" th:field="${ticket.destinationCity}"/></td>
            <td><input type="text" th:field="${ticket.seat}"/></td>
            <td>
                <input type="submit" value="Add Flight"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>


    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}"></td>
            <td th:text="${error.message}"></td>
        </tr>
    </td>
</table>

<a href="/user_mode">back</a>

</body>

</html>