<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Show All Products</title>
</head>
<body>

<h3>Show all flights</h3>

<table>
    <tr>
        <td>ID:</td>
        <td>Name:</td>
        <td>Description:</td>
        <td>Price:</td>
    </tr>

    <td >

            <td th:text="${flights}"></td>


        </tr>
    </td>

</table>

<a href="/user_mode">back</a>

</body>

</html>