<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Internet Store demo project">
    <meta name="author" content="Team Static Startup">
    <title>Show all orders</title>
</head>
<body>

<h3>Show all orders</h3>

<table>
    <tr>
        <td>ID:</td>
        <td>Shopping cart ID:</td>
        <td>Order date:</td>
        <td>Is active:</td>
    </tr>

    <td th:if="${orders != null}">
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.shoppingCart.Id}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.isActive}"></td>
        </tr>
    </td>

</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>