<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Target list</title>
</head>

<body>

<h3>Search user by last name</h3>


<table>
    <tr>
        <td>User last name:</td>
    </tr>

    <tr>
        <form action="/user_menu/user/searchUserByLastName" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.lastName}"/></td>
            <td>
                <input type="submit" value="OK"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>
    </tr>


</table>

<table>
    <tr>
        <td>User first name</td>
        <td>User last name</td>
    </tr>

    <td th:if="${users != null}">
        <tr th:each="users : ${users}">
            <td th:text="${users.firstName}" />
            <td th:text="${users.lastName}" />
        </tr>
    </td>

</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
        <td th:text="${error.field}" />
        <td th:text="${error.message}" />
    </tr>
</td>


<form action="/user_menu/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>