<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Target list demo project">
    <meta name="author" content="Vadims Vladisevs">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Target list</title>
</head>

<body>

<h3>Show all users in the list</h3>

<table>
    <tr>
        <td><b>User first name</b></td>
        <td><b>User last name</b></td>
    </tr>

    <td th:if="${users != null}">
        <tr th:each="users : ${users}">
            <td th:text="${users.firstName}" />
            <td th:text="${users.lastName}" />
        </tr>
    </td>

</table>

<form action="/user_menu/" method="get">
    <input type="submit" value="Go to main page" name="Submit" />
</form>

</body>

</html>